<div class="container">
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4">News Blast!</h1>
            <p class="lead">Bringing anything relating to Oceannews in science and technology.</p>
            <form action="/savedarticles" method="GET">
                <button type="submit" class="btn btn-primary">Saved Articles</button>
            </form>
            <form action="/scraped" method="GET">
                <button type="submit" class="btn btn-warning">Scraped Articles</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <div class="display-saved">
            {{#each db_headlines}}
                <div class="row">
                    <div class="col-10">
                        <h3><a href="https://www.oceannews.com{{this.link}}" target="_blank">{{this.title}}</a></h3>
                        <p>{{this.summary}}</p>
                        <form action="/savedarticles/:id" method="POST">
                            <button type="comment" class="btn btn-primary">Leave a comment</button>
                        </form>
                        <form action="/delete/:id" method="DELETE">
                            <button type="delete" class="btn btn-primary">Leave a comment</button>
                        </form>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>  
</div>